
/* Color Theme Swatches in Hex 
.color-theme_sky-1-hex { color: #F2F8FE; }
.color-theme_sky-2-hex { color: #3B6D95; }
.color-theme_sky-3-hex { color: #003F73; }
.color-theme_sky-4-hex { color: #72AED7; }
.color-theme_sky-5-hex { color: #ACC3DA; }

Color Theme Swatches in RGBA
.color-theme_sky-1-rgba { color: rgba(242, 248, 254, 1); }
.color-theme_sky-2-rgba { color: rgba(59, 109, 149, 1); }
.color-theme_sky-3-rgba { color: rgba(0, 63, 115, 1); }
.color-theme_sky-4-rgba { color: rgba(114, 174, 215, 1); }
.color-theme_sky-5-rgba { color: rgba(172, 195, 218, 1); }

Color Theme Swatches in HSLA
.color-theme_sky-1-hsla { color: hsla(210, 85, 97, 1); }
.color-theme_sky-2-hsla { color: hsla(206, 43, 40, 1); }
.color-theme_sky-3-hsla { color: hsla(207, 100, 22, 1); }
.color-theme_sky-4-hsla { color: hsla(204, 55, 64, 1); }
.color-theme_sky-5-hsla { color: hsla(210, 38, 76, 1); }

*/ 


html {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 100%;
    background-color: #F2F8FE;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel', serif;
    font-weight: 400;
}
h1 {
    font-size: 4vw;
}

h2 {
    text-decoration: underline 1px;
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}

h4 {
    font-size: 1.125vw;
}
p,
li {
    font-family: 'Raleway', sans-serif;
    font-size: 1vw;
}

button {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    border-radius: 3px;
    color: #191726;
    background-color: #72AED7;
    border: 0px transparent;
}
img {
    max-height: 50px;
    max-width: 100%;
    min-height: 5vw;
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #191726;
}
nav ul {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 10vw;
    color:#D8D9D7
    
}
nav li {
    width: auto;
    list-style: none;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
}
nav li a {
    color: #F2F8FE
   
}

header {
    width: 100%;
    max-height: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    background-color: #3b6c953b;
    background-image: linear-gradient(rgba(5, 0, 0, 0.493), rgba(0, 0, 0, 0.377)),
        url("Resources/Media/SaltLakeCity.jpg");
    background-position: center;
    background-size: cover;
    color: #F2F8FE;
}

header img {
    filter: invert(100%) sepia(88%) saturate(1698%) hue-rotate(179deg) brightness(111%) contrast(99%);
}

header img:hover {

    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transform: translateY(-10px);
    transition-duration: 1s;
    transition-timing-function: ease-in-out; */
}

@keyframes float {
    from {

    }
    50% {
        transform: translateY(-10px);
    }


    to {
        transform: translateY(0px);
    }
}



header p {
    display: flex;
    align-items: center;
}

#location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
}
#location h4 {
    margin-top: 0;
    margin-bottom: 0;
}

img#location {
    height: 10vw;
}

#header-links.container {
    display: flex;
    height:auto; 
}
#header-links a {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;

}
#projects-and-skills {
    
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    height: fit-content;
    
}

#projects.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    background-color: #F2F8FE;
}
.pbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.project {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    margin-right: 3vw;
    padding: 2vw;

}
#preview {
    height: 17vw;
    width: 100%;
    border: solid 1px black;
}

#preview img {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.pbox ul,
.pbox h4 {
    margin: 0;
}

.pbox h4 {
    margin-top: 2vw;
}
#description {
    padding-left: 10px;
}
#description h3 {
    margin-top: 0;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: flex-start;
    border-left: solid 1px black;
    padding-left: 2rem;
    background-color: #F2F8FE;
}

#skills img {
    height: 10vw;
    min-height: 6vw;
}

div.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

footer {
    background-color: #191726;
    width: 100%;
    /* max-height: 5vw; */
    margin-top: 5vw;
    /* position: absolute;
    bottom: 0; */
}

footer ul {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

footer li {
    padding: 10px;
}

/* Contact Page */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #72AED7;
    color: #191726;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #191726;
    color: #F2F8FE;
  }
  
  /* Add a background color and some padding around the form */
  .contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  form {
      margin-top: 2vw;
      margin-bottom: 10vw;
  }